<div class="container">
  <div class="page-main">
    <div class="page-main__wrapper-top-content">
      <h1 class="page-main__day-title"></h1>
      <p class="page-main__day-of-month"></p>
      <div class="page-main__wrepper-content">
        <img
          class="icon-loc"
          width="27"
          height="27"
          src="./images/Location.svg"
          alt=""
        />
        <p class="page-main__location-now"></p>
      </div>
    </div>
    <div class="page-main__wrapper-bottom-content">
      <img class="img-current" width="95" height="95" src="#" alt="" />
      <p class="page-main__degree">29 °C</p>
      <p class="page-main__status-weather">Sunny</p>
    </div>
  </div>
  <div class="page-second">
    <ul class="list-desc">
      <li class="list-desc__item">
        <p class="list-desc__title">FEELSLIKE</p>
        <span class="list-decs__info list-decs__info--cld">0%</span>
      </li>
      <li class="list-desc__item">
        <p class="list-desc__title">HUMIDITY</p>
        <span class="list-decs__info list-decs__info--hum">0%</span>
      </li>
      <li class="list-desc__item">
        <p class="list-desc__title">WIND</p>
        <span class="list-decs__info list-decs__info--wind">0 km/h</span>
      </li>
    </ul>
    <ul class="list-info">
      <li class="list-info__item list-info__item--current">
        <img class="img-current-mini" width="54" height="54" src="#" alt="" />
        <p class="list-info__day">Tue</p>
        <p class="list-info__degree">30 °C</p>
      </li>
      <li class="list-info__item">
        <img class="img-current-mini" width="54" height="54" src="#" alt="" />
        <p class="list-info__day">Wed</p>
        <p class="list-info__degree">22 °C</p>
      </li>
      <li class="list-info__item">
        <img class="img-current-mini" width="54" height="54" src="#" alt="" />
        <p class="list-info__day">Thu</p>
        <p class="list-info__degree">06 °C</p>
      </li>
    </ul>
    <label class="label">
      <input
        class="page-second__btn-search"
        type="text"
        placeholder="Change Location"
      />
      <img
        class="location-icon-search"
        width="33"
        height="33"
        src="./images/Location.svg"
        alt=""
      />
      <button class="btn-search" type="button">
        <svg width="35" height="35">
          <use href="./images/symbol-defs.svg#icon-search"></use>
        </svg>
      </button>
    </label>
  </div>
</div>
